# ----------
# carla関連
# ----------
/AdditionalMaps_0.9.13
/AdditionalMaps
/carla-env
/CarlaUE4
/Co-Simulation
/Engine
/HDMaps
/Plugins
/PythonAPI/carla
/PythonAPI/examples
/PythonAPI/util
/CarlaUE4.exe
/LICENSE
/scenario_runner-*

# -----------
# 共通のもの
# -----------
__pycache__/
*.pyc
/CHANGELOG
/Dockerfile
*.png
*pt
/cuda-repo-wsl-ubuntu*
/.vscode
*.csv
*.jpg
*.txt


# -----------
# venv関連
# -----------
/src/ObjectDetection/yolov8_env
/detection-env
/evaluationEnv
/nuScenes-env
/new-carla-env

# -----------
# データセット系
# -----------
/src/ObjectDetection/yolov8_results
/src/ObjectDetection/output
/src/ObjectDetection/detectionResult
/output
/raw_dataset/dataset
/raw_dataset/images
/raw_dataset/labels
/raw_dataset/runs
/src/ObjectDetection/integrated_output
/src/ObjectDetection/adaptive_Nversion_detector/output
/groundTruthDataset
/trainDataset
/adaptiveDetectionResult
/oneVersionDetectionResult
/NversionDetectionResult
/KITTI
/src/*.txt
/src/*.png
/src/kitti/kitti_train/runs
/src/kitti/kitti_train/torch_weights
*.sh


# -----------
# 学会関連
# -----------
/信頼性学会
/国際学会
/ReliabilityOfNversionObjectDetection
/ReliabilityOfNversionObjectDetection/dataset

# -----------
# その他
# -----------
/src/ObjectDetection/yolov8n.pt
/src/ObjectDetection/requirement.txt
/README
/進捗報告
/Evaluation/*.pkl
/COCO_exp
/test




