/AdditionalMaps_0.9.13
/AdditionalMaps
/carla-env
/CarlaUE4
/Co-Simulation
/Engine
/HDMaps
/Plugins
/PythonAPI/carla
/PythonAPI/examples
/PythonAPI/util
__pycache__/
*.pyc
/CarlaUE4.exe
/Dockerfile
/LICENSE
/ObjectDetection/yolov8_env
/ObjectDetection/yolov8_results
/ObjectDetection/yolov8n.pt
/ObjectDetection/requirement.txt
/ObjectDetection/output
/ObjectDetection/detectionResult
/output
/scenario_runner-*
/CHANGELOG
/README
/信頼性学会
/進捗報告
/Evaluation/*.pkl
/detection-env
/raw_dataset/dataset
/raw_dataset/images
/raw_dataset/labels
/raw_dataset/runs
/国際学会
/COCO_exp
/ObjectDetection/integrated_output
*.png
*pt
/ObjectDetection/adaptive_Nversion_detector/output
/ReliabilityOfNversionObjectDetection
/test
/evaluationEnv
/cuda-repo-wsl-ubuntu*
/.vscode
/adaptiveDetectionResult
/oneVersionDetectionResult
/nuScenes-env